.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #15151a;
    padding: 50px 100px;
    color: white;
    box-sizing: border-box;
}
.image-side {
    width: 40%;
}
.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dev1 {
    flex: 1;
    text-align: left;
    padding: 10px;
    width: 50%;
}
.dev1 h1 {
    line-height: 0.01;
    text-align: start;
    font-size: clamp(28px, 5vw, 45px);
}

.dev1 p {
    margin-top: 20px;
    font-size: clamp(12px, 2vw, 14px);
    line-height: 1.2;
}
.abbtn {
    margin-top: 30px;
}
