.floor-contain {
    background-color: #f8f3ec;
    text-align: center;
    padding: 20px;
}

.floor {
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 80px;
    text-align: center;
}

.batn {
    background-color: #ffffff;
    border-radius: 5px;
    color: #15151a;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.batn:hover {
    background-color: #d8af72;
    color: #fff;
}

.batn:active {
    background-color: #d8af72;
    color: #000;
}

.floor-contain1 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px;
    background-color: #f8f3ec;
    justify-content: center;
}

.num {
    display: flex;
    width: 40%;
    margin-top: 80px;
    flex-direction: column;
}

.num1,
.num11 {
    font-size: 18px;
    text-align: end;
    margin-right: 10px;
    padding-bottom: 10px;
}

.num11 {
    font-weight: bolder;
    color: #d8af72;
}

.floor-contain1 p {
    font-size: 18px;
    padding-top: 5px;
}

.bon Button {
    height: 60px;
    margin-top: 50px;
}

.divimg img {
    width: 100%;
    height: auto;
    margin: auto;
}

@media (max-width: 768px) {
    .floor {
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 30px;
        width: 100%;
    }

    .floor-contain1 {
        gap: 20px;
        padding: 20px;
        flex-direction: row;
    }

    .num1,
    .num11 {
        text-align: center;
        flex-direction: column;
        margin-right: 0;
    }

    .batn {
        font-size: 18px;
        padding: 8px 16px;
    }

    .divimg img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .floor {
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .floor-contain1 {
        gap: 10px;
        padding: 15px;
        flex-direction: column;
    }

    .num1,
    .num11 {
        font-size: 16px;
        padding-bottom: 8px;
        text-align: center;
    }

    .batn {
      display: flex;
      
        font-size: 16px;
        padding: 6px 12px;
    }

    .divimg img {
        width: 100%;
    }
}
a {
    text-decoration: none;
}