body {
    background-color: #fefaf3;
}
.facts-section {
    width: 80%;
    background-color: #fefaf3;
    padding: 80px;
    margin: 0 auto;
}
.section-title {
    font-size: 36px;
    font-weight: bold;
    color: #15151a;
    margin-bottom: 30px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}
.fact {
    color: #333;
}
.fact-number {
    font-size: 32px;
    font-weight: bold;
    color: #c49b5a;
    margin-bottom: 5px;
}
.unit {
    font-size: 18px;
}
.fact-title {
    font-size: 16px;
    font-weight: bold;
    color: #15151a;
    margin-bottom: 5px;
}
.fact-description {
    font-size: 14px;
    color: #666;
}
@media (max-width: 768px) {
    .section-title {
        font-size: 28px;
    }

    .facts-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .fact {
        padding: 10px;
    }
}
